body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}


/* Home! the CSS information on my Home Page Design */

.homepage{
  width: 100%;
  height: 110vh;
  background-image: linear-gradient(#000000f0,  #000000f3),
  url(../src/image/home-bg.jpg);
 background-position: center;
 background-size: cover;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 50px ;
}

.socialmedia{
  width: 100%;
  height: 10vh;
  background-image: linear-gradient(#000000f0,  #000000f3),
   url(../src/image/home-bg.jpg);
 background-size: cover;
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding: 50px;
 padding-top: 80px;
}

.socialmedia > div{
  color: white;
}

.home-text{
  font-size: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
  'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
 color: rgba(240, 128, 23, 0.998);
}

.homeImg{
max-width: 500px;

border-radius: 50px;
margin-left: 20px;
}


.section1, h1{
  color: rgba(239, 175, 36, 0.998);
  font-size: 55px;
}

.section1, h5{
  font-size: 15px;
  margin-top: 10px;
}

.section1 p{
  font-size: 14px;
  color: rgba(194, 138, 17, 0.998);
  font-weight: bold;
}

.section1 hr{
  background-color: rgba(239, 175, 36, 0.998);
 margin: 15px 0px 20px;
 border: 0.1px solid rgba(239, 175, 36, 0.998);
}


.section2{
  display: grid;
  place-items: center;
}

.mybtn{
  margin-top: 40px;
}

.btn1{
width: 140px;
height: 50px;
background:rgba(239, 175, 36, 0.998);
cursor: pointer;
font-weight: bold;
border: 1px solid rgba(239, 175, 36, 0.998);
transition: 0.4s;
}



.btn1:hover{
  background:wheat;
}

.btn2:hover{
  background:rgba(255, 128, 0, 0.998);
  color: black;
  border: 1px solid rgba(239, 175, 36, 0.998);
}

.btn2{
width: 140px;
height: 50px;
border: 1px solid rgba(239, 175, 36, 0.998);
background:transparent;
color: rgba(239, 175, 36, 0.998);
cursor: pointer;
font-weight: 800;
transition: 0.4s;
}

.my-cv{
  width: 150px;
  height: 50px;
  background-color: rgba(239, 175, 36, 0.998);
  transition: 0.5s;
  border-radius: 20px;
  margin-top: -10px;
  border: 3px solid black;
}

.my-cv:hover{
  background-color: rgba(240, 128, 23, 0.998);
  cursor: pointer;
}

.my-cv a{
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.my-cv a:hover{
  color: wheat;
}

/* Home! the CSS information on my Home Page Design */


/* About! the CSS information on my Home Page Design */
.aboutMe{
  width: 100%;
  height: 100vh;
background-color: #000000;
 background-size: cover;
 display: flex;
 align-items: center;
 justify-content: space-around;
 padding: 50px;
}



.aboutDesc {
  width: 300px;
  height: 400px;
  background-color: #111010;
  padding: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 30px;
  margin-left: 10px;
}

.aboutDesc, p{
  color: rgba(255, 255, 255, 0.807);
  margin-top: 10px;
  font-size: 1px;
}

.aboutDesc, h4{
  font-size: 20px;
  color: #737171;
  margin-top: 10px;
}

.aboutDesc img{
  width: 192px;
  height: 200px;
  border-radius: 50%;
}


.mygoal {
  width: 300px;
  height: 400px;
  background-color: #111010;
  padding: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 30px;
  margin-left: 10px;
}

.mygoal, p{
  color: rgba(255, 255, 255, 0.807);
  margin-top: 10px;
  font-size: 10px;
}

.mygoal, h4{
  font-size: 20px;
  color: #737171;
  margin-top: 10px;
}

.mygoal img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
/* About! the CSS information on my Home Page Design */


/* programming languages */

.technologies{
  width: 100%;
  height: 100vh;
  background-color: #000000;
  padding: 30px;
  text-align: center;
  display: grid;
  place-items: center;
  justify-content: space-around;

}

.row2{
  margin-top: 5px;
}



.pro-images{
  width: 70px;
  height: 60px;
}

.reactNative-images {
  width: 60px;
  height: 50px;
}

.type-images{
  width: 71px;
  height: 70px;
}

.ph-images{
  width: 71px;
  height: 65px;
}


.html{
  width: 150px;
  height: 160px;
  background-color: #111010;
  padding: 10px;
  padding-top: 20px;
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-top: 10px;
}



.html h3{
  color: #ffffff;
  margin-top: 5px;
}

.html h6{
  color: #737171;
}

/* programming languages */

/* contact form */
.form{
  width: 100%;
  height: 90vh;
  background-color: #000000;
  padding: 70px 40px;
  margin-bottom: 0px;
}

.form input{
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border-color: rgba(255, 119, 0, 0.738);
  border-radius: 20px;
  border: none;
}

.text-area{
  width: 100%;
  height: 200px;
  border-color: rgba(255, 119, 0, 0.738);
  border-radius: 20px;
  text-indent: 30px;
  padding-top: 30px;
}

.send-message-btn{
  width: 200px;
  height: 50px;
  color: #000000;
  border: none;
  background-color: rgba(242, 196, 95, 0.998);
  margin-top: 20px;
  font-weight: 500;
  border-radius: 20px;
  margin-bottom: 20px;
  transition: 0.5s;
}

.send-message-btn:hover{
  background-color: rgba(240, 128, 23, 0.998);
  color: wheat;
}

.back-to-home-page {
  color: rgba(255, 119, 0, 0.738);
  text-decoration: none;
  background-color: #000000;
  text-align: center;
  padding-bottom: 40px;
}
/* contact form */


/* Project! the CSS information on my Project Page Design */
.project{
  width: 100%;
  height: 280vh;
  background-image: linear-gradient(#000000f0,  #000000f3),
  url(../src/image/home-bg.jpg);
 background-position: center;
 background-size: cover;
  text-align: center;
  display: block;
  align-items: center;
  padding: 50px;
  flex-direction: column;
  text-align: center;
}



.myProject, h4{
  color: rgba(194, 138, 17, 0.998);
  font-size: 15px;
}

.myProject, p{
  font-size: 12px;
}

.myProject, hr{
  color: white;
  margin-bottom: 40px;
}

.project-items{
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;

}

/* different card image */
.project-1{
  width: 300px;
  height: 400px;
  background-color: #111010;
  border-radius: 20px;
  padding: 15px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 20px;
}

.project-2{
  width: 300px;
  height: 400px;
  background-color: #111010;
  border-radius: 20px;
  padding: 15px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 20px;
}

/* different card image */

.project-image{
  width: 260px;
  height: 130px;
  border-radius: 20px;
}

.project-deatils{
  padding: 10px 10px;
  text-align: left;
  width: 100%;
  height: 230px;
  border: 2px solid rgba(240, 128, 23, 0.998);
  margin-top: 20px;
  border-radius: 10px;
}


.project-deatils, h6{
  color: white;
}

.project-deatils, h5{
  color: rgba(240, 128, 23, 0.998);
  font-size: 12px;
}

.project-deatils, button{
  margin-top: 10px;
}

.project-deatils, ul{
  list-style: none;
}

.project-deatils, ul li{
  color: white;
}

.demo-btn{
  border: 2px solid rgba(240, 128, 23, 0.998);
  background-color: transparent;
  border-radius: 5px;
  color: white;
  margin-right: 10px;
  font-size: 12px;
  padding: 10px 12px;
  font-weight: bold;
  transition: 0.4s;
}

.demo-btn, a{
  color: wheat;
}

.demo-btn:hover{
  background: rgba(255, 198, 145, 0.998);
  border: 2px solid rgba(255, 198, 145, 0.998);
  color: #000000;
}

.repo-btn:hover{
  background: transparent;
}

.repo-btn{
  background: rgba(240, 128, 23, 0.998);
  border: 2px solid rgba(240, 128, 23, 0.998);
  border-radius: 5px;
  color: white;
  margin-right: 10px;
  font-size: 12px;
  padding: 10px 12px;
  font-weight: bold;
  transition: 0.4s;
}

a:link{
  color: #000000;
}
/* Project! the CSS information on my Project Page Design */

















@media (max-width: 900px) {

  .homeImg{
    max-width: 300px;
    border-radius: 50px;
    margin-top: 50px;
    margin-left: 0px;
  }

  .section1, h1{
    color: rgba(239, 175, 36, 0.998);
    font-size: 34px;
  }

  .section1, h5{
    color: rgba(242, 196, 95, 0.998);
    font-size: 10px;
    margin-top: 10px;
  }

  .btn2{
    margin-top: 20px;
  }

  .technologies{
    width: 100%;
    height: 80vh;
    background-color: #000000;
    padding: 30px;
    text-align: center;
    display: grid;
    place-items: center;
    justify-content: space-around;
  
  }
}

@media (max-width: 768px) {

  .homepage {
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position: center;
    display: block;
    width: 100%;
    height: 135vh;
    padding: 10px;
  }

  .homeImg{
    max-width: 300px;
    border-radius: 50px;
    margin-top: 50px;
    margin-left: 0px;
  }

  .section1, h1{
    color: rgba(239, 175, 36, 0.998);
    font-size: 37px;
  }

  .section1, p{
    color: rgba(242, 196, 95, 0.998);
    font-size: 10px;
    margin-top: 10px;
    font-weight: bold;
  }

  .btn2{
    margin-top: 20px;
  }

  .technologies{
    width: 100%;
    height: 70vh;
    background-color: #000000;
    padding: 30px;
    text-align: center;
    display: grid;
    place-items: center;
    justify-content: space-around;
  
  }

  .aboutMe{
    width: 100%;
    height: 140vh;
  background-color: #000000;
   background-size: cover;
   display: grid;
   place-items: center;
   justify-content: space-around;
   padding: 50px;
   overflow-x: hidden;
  }

  .mygoal {
    width: 350px;
    height: 400px;
    background-color: #111010;
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    margin-left: 0px;
  }

  .aboutDesc {
    width: 350px;
    height: 400px;
    background-color: #111010;
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    margin-left: 0px;
  }
}

@media (max-width: 992px) {
  .project{
    width: 100%;
    height: 400vh;
    background-image: linear-gradient(#000000f0,  #000000f3),
    url(../src/image/home-bg.jpg);
   background-position: center;
   background-size: cover;
    text-align: center;
    display: block;
    align-items: center;
    padding: 50px;
    flex-direction: column;
    overflow-x: hidden;
  }
}

@media (max-width: 570px){
  .technologies{
    width: 100%;
    height: 140vh;
    background-color: #000000;
    padding: 30px;
    text-align: center;
    display: grid;
    place-items: center;
    justify-content: space-around;
    overflow-x: hidden;
  }

  .aboutMe{
    width: 100%;
    height: 155vh;
  background-color: #000000;
   background-size: cover;
   display: grid;
   place-items: center;
   justify-content: space-around;
   padding: 50px;
   overflow-x: hidden;
  }

  .mygoal, p{
    color: #737171;
    font-size: 13px;
  }

  .section1 p{
    font-size: 14px;
    color: rgba(194, 138, 17, 0.998);
    font-weight: bold;
    padding: 10px 40px;
  }
  
}

@media (max-width: 572px){

  .project{
    width: 100%;
    height: 640vh;
    background-image: linear-gradient(#000000f0,  #000000f3),
    url(../src/image/home-bg.jpg);
   background-position: center;
   background-size: cover;
    text-align: center;
    display: block;
    align-items: center;
    padding: 50px;
    flex-direction: column;
    overflow-x: hidden;
  }

  .aboutMe{
    overflow-x: hidden;
  }

  

}

@media (max-width: 360px) {
  .technologies{
    width: 100%;
    height: 130vh;
    background-color: #000000;
    padding: 30px;
    text-align: center;
    display: grid;
    place-items: center;
    justify-content: space-around;
    overflow-x: hidden;
  }

  .project{
    width: 100%;
    height: 580vh;
    background-image: linear-gradient(#000000f0,  #000000f3),
    url(../src/image/home-bg.jpg);
   background-position: center;
   background-size: cover;
    text-align: center;
    display: block;
    align-items: center;
    padding: 50px;
    flex-direction: column;
    overflow-x: hidden;
  }
}






